<a href="https://colab.research.google.com/github/katerynal-commits/HW1.-Python.ipynb/blob/main/HW4_%D0%A6%D0%B8%D0%BA%D0%BB_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Цикл for - базовий**

Використовуючи цикл `for`, виведіть числа від 1 до 7 включно використовуючи функцію range.

In [34]:
#цикл по діапазону

for i in range (1,8):
  print (i)

1
2
3
4
5
6
7


---

**2. Цикл for по списку**

Дано список:

In [35]:
names = ["Олег", "Анна", "Іван", "Марія"]



---


Використовуючи цикл, виведіть кожне ім'я з привітанням: "Привіт, [ім'я]!"

In [36]:
names = ["Олег", "Анна", "Іван", "Марія"]
for name in names:
  print (f"Привіт,{name}!")

Привіт,Олег!
Привіт,Анна!
Привіт,Іван!
Привіт,Марія!


---

**3. Цикл з enumerate**

Дано список оцінок:

In [37]:
grades = [85, 92, 78, 95, 88]


Використовуючи `enumerate`, виведіть кожну оцінку з номером: "Студент 1: 85 балів"

In [38]:
grades = [85, 92, 78, 95, 88]
for i, grade in enumerate (grades, start=1):
  print(f"Cтудент {i}: {grade} балів")

Cтудент 1: 85 балів
Cтудент 2: 92 балів
Cтудент 3: 78 балів
Cтудент 4: 95 балів
Cтудент 5: 88 балів

**4. Сума парних чисел**

Напишіть програму, яка обчислює суму всіх парних чисел від 1 до 20 включно.

In [39]:
sum_even = 0
for i in range(1, 21):
    if i % 2 == 0:
        sum_even += i

print("сумма всіх парних чисел від 1 до 20 включно:",sum_even)

сумма всіх парних чисел від 1 до 20 включно: 110